@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

:root{
  --soft__red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark__brown: hsl(25, 47%, 15%);
  --medium__brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --vary__pale--orange: hsl(33, 100%, 98%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  font-family: 'DM Sans', sans-serif;
}

.container{
  display: flex;
  width: 29rem;
  height: auto;
  gap: 2rem;
  flex-direction: column;
}

.nav{
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--soft__red);
  border-radius: .5rem;
  align-items: center;
  padding-inline: 2rem;
}

.balance__section{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.balance{
  font: .8rem;
  color: var(--vary__pale--orange);
}

.balance__amount{
  font-size: 1.6rem;
  color: var(--vary__pale--orange);
}

.circles{
  display: flex;

}

.circle__trans,
.circle__black{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.circle__black{
  background-color: black;
}

.circle__trans{
  border: 2px solid var(--cream);
  position: relative;
  left: 1rem;
}

.chart{
  display: flex;
  width: 100%;
  height: auto;
  background-color: var(--vary__pale--orange);
  border-radius: .5rem;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 2rem;
  padding-bottom: 2rem;
}

.chart__header{
  width: 100%;
  height: auto;
  padding-top: 2rem;
  font-size: 18px;
}

.chart__section{
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 10rem;
}

.bar__column{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 6rem);
  height: 100%;
}

.amount{
  padding: .3rem;
  background-color: black;
  color: white;
  font-size: .8rem;
  border-radius: .2rem;
}

.bar{
  width: 100%;
  background-color: var(--soft__red);
  border-radius: .2rem;
}

.bar:hover{
  background-color: hsl(10, 74%, 79%) ;
  cursor: pointer;
}

.highest{
  background-color: var(--cyan);
}

.highest:hover{
  background-color: hsl(185, 59%, 81%);
}

.day{
  text-transform: capitalize;

}

hr{
  border: none;
  border-top: 2px solid var(--cream);
}

.active{
  display: none ;
}

.chart__footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  align-items: center;
}







